thead {
    background: #dfdfdf;
    text-align: center;
    font-weight: bold;
}

table {
    table-layout: auto;    
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 2px lightgray;
}

td {
    padding: 8px;
    border: solid 1px gray;
}

tr:hover {
    background: lightgrey;
}