* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
body {
    max-width: 1420px;
    padding: 20px 10px;
    margin: auto;
}
h1 {
    display: inline;
    text-align: center;
    padding-right: 15px;
    font-size: 4rem;
}
.file-block {
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
}
.file-block a {
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    color: grey;
    text-decoration: none;
}
a:hover {
    color: black;
}

.back {
    color: black;
}

.back div {
    background: lightgrey;
    display: inline-block;
    color: black;
    padding: 5px;
    margin: 20px 10px 20px 20px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}

.del {
    padding: 5px 20px;
    margin-top: 10px;
}